<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

      <!-- FOOTER -->
      <div id="site-footer">
        <div class="main-footer">
            <div class="container">
              <div class="footer-top">
                <div class="row footer-list">
                  <div class="col-md-3">
                    <div id="footer-first-section" class="footer-item"></div>
                  </div>
                  <div class="col-md-3">
                    <div id="footer-second-section" class="footer-item"></div>
                  </div>
                  <div id="footer-action-section" class="col-md-3"></div>
                  <div id="footer-identity-section" class="col-md-3"></div>
                </div>
              </div>
              <div class="footer-bottom">
                <div class="row">
                  <div class="col-md-7 footer-bottom-desc">
                   PT FWD Life Indonesia (“FWD Life”) terdaftar dan diawasi oleh Otoritas Jasa Keuangan (OJK).
                  </div>
                  <div class="col-md-5 text-md-right">
                    <div class="footer-bottom-links">
                      <a href="https://www.fwd.co.id/id/disclaimer/" class="mr-3">Sangkalan</a>
                      <a href="https://www.fwd.co.id/id/online-security/">Keamanan Online</a>
                    </div>
                    <span>2018 FWD Indonesia. All rights reserved.</span>
                  </div>
                </div>
              </div>
            </div>
        </div>

      </div>
      <!-- FOOTER -->


      <!-- Modal -->
        <div class="modal fade" id="modalform" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-close">
                <i data-dismiss="modal" class="fa fa-times-circle"></i>
              </div>
              <div class="modal-body">
                <form id="register_form" action="#">
                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                  <div class="field-cont row">
                    <div class="col-sm-2">
                      <label for="name">Nama</label>
                    </div>
                    <div class="col-sm-10">
                      <input id="input_name" name="name" type="text"/>
                      <span class="help-block form-error name-error" style="color:red"></span>
                    </div>
                  </div>
                  <div class="field-cont row">
                    <div class="col-sm-2">
                      <label for="phone">No.Telp</label>
                    </div>
                    <div class="col-sm-10">
                      <input id="input_phone" name="phone" type="number"/>
                      <span class="help-block form-error phone-error" style="color:red"></span>
                    </div>
                  </div>
                  <div class="field-cont row">
                    <div class="col-sm-2">
                      <label for="email">Email</label>
                    </div>
                    <div class="col-sm-10">
                      <input id="input_email" name="email" type="email"/>
                      <span class="help-block form-error email-error" style="color:red"></span>
                    </div>
                  </div>
				  <div class="field-cont">
					<ul class="for__checkbox">
						<li class="cb">
                                                    <input type="checkbox" name="term" id="term" value="true" />
						</li>
						<li class="text">
							<label for="term">Saya setuju data tersebut dapat digunakan untuk kepentingan informasi marketing, promosi dan penawaran khusus dari FWD Life</label>
							<span class="help-block form-error term-error" style="color:red"></span>
						</li>
					</ul>
				  </div>
                  <div class="field-cont row">
                    <div class="col-sm-7">
                        <div class="g-recaptcha" data-sitekey="6LdicVcUAAAAADrIyEOI5cOgfySHt-RmIDDzTQyA"></div>
                        <span class="help-block form-error captcha-error" style="color:red"></span>
                    </div>
                    <div class="col-sm-3 align-center">
                      <!-- <a class="daftar-btn">daftar</a> -->
                      <input id="submit_form" type="submit" value="Daftar"/>
                      <img id="form_loader" src="img/ajax-loader.gif" style="display:none;" />
                    </div>
                  </div>  
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="modalthanks" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-close">
                <i data-dismiss="modal" class="fa fa-times-circle"></i>
              </div>
              <div class="modal-body text-center">
                <h4>Terima kasih sudah mengisi data diri kamu.<br/> Agen kami akan menghubungi kamu dalam waktu 3x24 jam.</h4>
              </div>
            </div>

          </div>
        </div>

        <div class="modal fade" id="modalfailed" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-close">
                <i data-dismiss="modal" class="fa fa-times-circle"></i>
              </div>
              <div class="modal-body text-center">
                <h4>Proses penyimpanan data diri kamu gagal. Silahkan coba kembali...</h4>
              </div>
            </div>

          </div>
        </div>


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="js/vendor.min.js" ></script>
      <script src="js/plugins.min.js" ></script>
      <script src="js/app.min.js" ></script>
      <script src="js/homepage.min.js" ></script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script src="https://www.googletagmanager.com/gtag/js?id=UA-75474581-7"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-75474581-7');
      </script>
</div>
</body>
</html>
