<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

      <!-- FOOTER -->
      <div id="site-footer">
        <div class="main-footer">
            <div class="container">
              <div class="footer-top">
                <div class="row footer-list">
                  <div class="col-md-3">
                    <div class="footer-item">
                      <h3 class="footer-title">Bebas Aksi</h3>
                      <ul class="footer-links">
                        <li><a href="/asuransi-kecelakaan-diri/bebas-aksi">Manfaat</a></li>
                        <li><a href="/cara-pembelian">Cara Pembayaran</a></li>
                        <li><a href="/asuransi-kecelakaan-diri/bebas-aksi/daftar-pekerjaan">Beli</a></li>
                        <li><a href="/claim-id">Klaim</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="footer-item">
                      <h3 class="footer-title">Bebas Rencana</h3>
                      <ul class="footer-links">
                          <li><a href="/asuransi-jiwa-berjangka/bebas-rencana">Manfaat</a></li>
                        <li><a href="/cara-pembelian">Cara Pembayaran</a></li>
                        <li><a href="/asuransi-jiwa-berjangka/bebas-rencana/daftar-pekerjaan">Beli</a></li>
                        <li><a href="/claim-id">Klaim</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="footer-item">
                      <h3 class="footer-title">Bergabung</h3>
                      <ul class="footer-links">
                        <li><a href="http://www.fwd.co.id/lowongan">Karir</a></li>
                      </ul>
                    </div>
                    <div class="footer-item">
                     <h3 class="footer-title">FWD Life</h3>
                      <ul class="footer-links">
                        <li><a href="https://www.fwd.co.id" target="_blank">fwd.co.id</a></li>
                      </ul>
                    </div>
                    <div class="footer-item">
                     <h3 class="footer-title">Lihat Aktivitas Kami</h3>
                      <ul class="footer-links">
                        <li><a href="http://passionstory.fwd.co.id/" target="_blank">passionstory.fwd.co.id</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="footer-item">
                      <div class="footer-item">
                        <h3 class="footer-title">Hubungi Kami</h3>
                        <p>Pacific Century Place, Lantai 20 SCBD Lot 10<br/>Jl. Jend. Sudirman Kav 52-53 Jakarta Selatan<br/>12190 Indonesia</p>
                        <h3 class="footer-title">Layanan Hotline (24/7)</h3>
                        <p>1-500-391</p>
                      </div>
                      <ul class="footer-social">
                        <li><a href="https://www.facebook.com/fwdlife.id" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="https://www.youtube.com/user/fwdlifeindonesia" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="https://www.instagram.com/fwdlife_id" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com/fwdlife_id" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
              <div class="footer-bottom">
                <div class="row">
                  <div class="col-md-7 footer-bottom-desc">
                   PT FWD Life Indonesia (“FWD Life”) terdaftar dan diawasi oleh Otoritas Jasa Keuangan (OJK).
                  </div>
                  <div class="col-md-5 text-md-right">
                    <div class="footer-bottom-links">
                      <a href="https://www.fwd.co.id/id/disclaimer" class="mr-3">Sangkalan</a>
                      <a href="https://www.fwd.co.id/id/online-security/">Keamanan Online</a>
                    </div>
                    <span>2018 FWD Indonesia. All rights reserved.</span>
                  </div>
                </div>
              </div>
            </div>
        </div>

      </div>
      <!-- FOOTER -->


      <!-- Modal -->
        <div class="modal fade" id="modalform" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-close">
                <i data-dismiss="modal" class="fa fa-times-circle"></i>
              </div>
              <div class="modal-body">
                <form id="register" action="#">
                  <div class="field-cont row">
                    <div class="col-sm-2">
                      <label for="name">Nama</label>
                    </div>
                    <div class="col-sm-10">
                      <input id="input_name" name="name" data-validation="required alphanumeric" data-validation-error-msg-required="Nama Harus Dimasukkan"
        data-validation-error-msg-alphanumeric="Nama hanya boleh berupa alphanumeric" type="text"/>
                    </div>
                  </div>
                  <div class="field-cont row">
                    <div class="col-sm-2">
                      <label for="phone">No.Telp</label>
                    </div>
                    <div class="col-sm-10">
                      <input id="input_phone" data-validation="required number" data-validation-error-msg-required="Nomer Harus Dimasukkan" data-validation-error-msg-number="Hanya boleh memasukan nomor" name="phone" type="number"/>
                    </div>
                  </div>
                  <div class="field-cont row">
                    <div class="col-sm-2">
                      <label for="email">Email</label>
                    </div>
                    <div class="col-sm-10">
                      <input id="input_email" data-validation="required email" data-validation-error-msg-required="Email Harus Dimasukkan" data-validation-error-msg-email="Format email tidak sesuai" name="email" type="text"/>

                    </div>
                  </div>
                  <div class="field-cont">
                    <div class="col-sm-12">
                      <!-- <a class="daftar-btn">daftar</a> -->
                      <input id="submit_form" type="submit" value="Daftar"/>
                    </div>
                  </div>
                </form>
              </div>

            </div>

          </div>
        </div>

        <div class="modal fade" id="modalthanks" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-close">
                <i data-dismiss="modal" class="fa fa-times-circle"></i>
              </div>
              <div class="modal-body text-center">
                <h4>Terima kasih sudah mengisi data diri kamu.<br/> Agen kami akan menghubungi kamu dalam waktu 3x24 jam.</h4>
              </div>
            </div>

          </div>
        </div>


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="js/vendor.min.js" ></script>
      <script src="js/plugins.min.js" ></script>
      <script src="js/app.min.js" ></script>
</div>
</body>
</html>
