<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
    <!-- favicon -->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />

    <title>Bebas Tawakkal</title>
     <!-- Bootstrap -->
     <link rel="stylesheet" th:href="@{css/vendor.min.css}" />
     <link th:href="@{css/plugins.min.css}" rel="stylesheet"/>
     <link th:href="@{css/main.css}" rel="stylesheet"/>
     <link th:href="@{css/pages/homepage.css}" rel="stylesheet"/>
     <script src='https://www.google.com/recaptcha/api.js'></script>
    </div>
</head>
<body>

<!-- HEADER -->
<div id="site-header" th:fragment="header">
  <div class="container clearfix">
    <div class="logo-cont">
      <a href="https://bebastawakkal.fwd.co.id/">
        <img th:src="@{/img/fwd-logo.png}" alt="FWD"/>
      </a>
    </div>
    <div id="menu-top" class="pull-right menu-top"></div>
  </div>
</div>
<!-- HEADER -->

</body>
</html>
