<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <div th:replace="fragments/fwd-header :: header-css"/>
</head>
<body>
<div th:replace="fragments/fwd-header :: header"/>
<div  id="site-container">
  <div class="homepage">
    <section class="home-slider">
      <div id="home-slider" class="slider-cont" />
      <div class="float is-absolute">
        <div class="btn-cont">
          <a  href="#" class="btn font-bold bg-base no-rounded" onclick="Homepage.initCustomer();">
            Wujudkan di sini
          </a>
        </div>
      </div>
    </section>
    <section class="section-partner">
      <div class="container">
          <h3 id="section-partner-points-header" class="font-bold"></h3>
        <div id="section-partner-points-body" class="row no-padding text-center margin-bottom20"></div>
      </div>
    </section>
    <section class="section-step">
      <div class="container text-center">
        <h3 id="step-section-points-header" class="font-bold"></h3>
        <div id="step-section-points-body" class="row no-margin"></div>
      </div>
    </section>
    <section class="section-package">
      <div class="row no-margin no-padding">
        <div class="bg-tosca col-md-6">
          <div id="first-package" class="table-bundle"></div>
        </div>
        <div class="bg-orange col-md-6">
          <div id="second-package" class="table-bundle"></div>
        </div>
      </div>
    </section>
    <section class="section-donasi">
      <h3 id="section-donasi-header" class="font-white text-center font-bold"></h3>
      <div id="section-donasi-body" class="container"></div>
    </section>
  </div>
</div> <!-- end main content -->

<div th:replace="fragments/fwd-footer :: footer"/>
</body>
</html>
