<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <div th:replace="fragments/fwd-header :: header-css"/>
</head>
<body>
<div th:replace="fragments/fwd-header :: header"/>
  <!-- CONTAINER -->
<div id="site-container">
  <div class="partner">
    <h2 class="text-center font-bold">Partner Travel Haji Kami</h2>
    <div class="partner-bundle bg-blue">
      <div class="row no-margin">
        <div class="col-md-8 margin-bottom20">
          Tentang Abhinaya
          <br /><br />
          PT. DAVA TOUR &amp; TRAVEL yang telah berdiri sejak 2011 dengan berbekal semangat dan keinginan
          untuk menjadi yang terbaik didalam meningkatan untuk mewujudkan "Kesempurnaan" pelayanan kepada
          para Jamaah Umroh, Haji dan Umat Muslim ddidalam melakukan perjalanan yang sesaui dengan kaidah Islam .

           <br/>
          Pada tahun 2017 ini PT.DAVA TOUR &amp; TRAVEL bertransformasi dengan menggunakan brand/Indentitas baru “ Abhinaya Umroh &amp; Tour“ termasuk juga perubahan kepemilikan menjadi dibawah PT Trinugraha Thohir (TNT) yang dimiliki oleh Garibaldi Thohir (dikenal juga sebagai Boy Tohir) bersama dengan Adiknya Erick Thohir dimana Keluarga Pengusaha Muslim ini sangat berhasil di berbagai bidang bisnis seperti : Automotive, Pertambangan Batubara, Media, Advertising serta Republika Group.
           <br/>
           <br/>
          Dengan latar berlakang pengalaman dan keberhasilan di berbagai bidang bisnis serta degan dukungan Management baru ini maka Insha Allah dengan Izin dan Ridho Allah “Abhinaya Umroh &amp; Tour” dapat berkomitmen untuk melayani para jamaah Umroh, Haji dan juga para wisatawan Muslim Indonesia dengan komitmen yang tinggi dan Amanah sesuai dengan kaidah Islam.

        </div>
        <div class="col-md-4">
          <div class="partner-info">
            <div class="img-cont">
              <img src="img/abhinaya-logo.png" alt=""/>
            </div>
            <div class="text-info">
              <p>
                Alamat:<br/>
                Graha TNT<br/>
                Jl. Saharjo no.107<br/>
                Tebet, Jakarta Selatan<br/>
                12810
              </p>
              <p>
                Nomer Telepon:<br/>
                021 830 4337<br/>
                021 830 4346
              </p>
              <p>
                Website:
                www.abhinayatour.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container partner-button">
      <!-- <div class="text-right margin-bottom50">
        <div class="btn-cont">
          <a  href="#" class="btn green no-rounded" data-toggle="modal" data-target="#modalpartnerform">Jadi Partner Kami</a>
        </div>
      </div> -->
      <div class="float is-absolute">
        <div class="btn-cont">
          <a href="#" class="btn font-bold bg-partner no-rounded" data-toggle="modal" data-target="#modalpartnerform">
            Jadi Partner Kami
          </a>
        </div>
      </div>
    </div>

  </div> <!-- end main content -->
</div>
<!-- Modal -->
  <div class="modal fade" id="modalpartnerform" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-close">
          <i data-dismiss="modal" class="fa fa-times-circle"></i>
        </div>
        <div class="modal-body">

          <form id="register" action="#">
            <div class="field-cont row">
              <div class="col-sm-2">
                <label for="name">Nama</label>
              </div>
              <div class="col-sm-10">
                <input id="input_name" name="name" data-validation="required alphanumeric" data-validation-error-msg-required="Nama Harus Dimasukkan" data-validation-error-msg-alphanumeric="Nama hanya boleh berupa alphanumeric" type="text"/>
              </div>
            </div>
            <div class="field-cont row">
              <div class="col-sm-2">
                <label for="name">Perusahaan</label>
              </div>
              <div class="col-sm-10">
                <input id="input_name" name="perusahaan" data-validation="required" data-validation-error-msg-required="Nama Harus Dimasukkan" type="text"/>
              </div>
            </div>
            <div class="field-cont row">
              <div class="col-sm-2">
                <label for="phone">No.Telp</label>
              </div>
              <div class="col-sm-10">
                <input id="input_phone" data-validation="required number" data-validation-error-msg-required="Nomer Harus Dimasukkan" data-validation-error-msg-number="Hanya boleh memasukan nomor" name="phone" type="number"/>
              </div>
            </div>
            <div class="field-cont row">
              <div class="col-sm-2">
                <label for="email">Email</label>
              </div>
              <div class="col-sm-10">
                <input id="input_email" data-validation="required email" name="email" type="text"/>

              </div>
            </div>
            <div class="field-cont">
              <div class="col-sm-12">
                <input id="submit_form" type="submit" value="Daftar"/>
              </div>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>

  <div class="modal fade" id="modalthanks" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-close">
          <i data-dismiss="modal" class="fa fa-times-circle"></i>
        </div>
        <div class="modal-body text-center">
          <h4>Terima kasih atas ketertarikan kamu untuk bergabung menjadi rekanan FWD.<br/> Kami akan menghubungi kamu dalam waktu 3x24 jam.</h4>
        </div>
      </div>

    </div>
  </div>
<div th:replace="fragments/fwd-footer :: footer"/>

</body>
</html>
