<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <div th:replace="fragments/fwd-header :: header-css"/>
</head>
<body>
<div th:replace="fragments/fwd-header :: header"/>
  <!-- CONTAINER -->
<div id="site-container">
  <div class="partner">
    <h2 class="text-center font-bold">Partner Travel Haji Kami</h2>
    <div class="partner-bundle bg-blue">
      <div class="row no-margin">
        <div class="col-md-8 margin-bottom20">
          Tentang Abhinaya
          <br /><br />
          PT. DAVA TOUR &amp; TRAVEL yang telah berdiri sejak 2011 dengan berbekal semangat dan keinginan
          untuk menjadi yang terbaik didalam meningkatan untuk mewujudkan "Kesempurnaan" pelayanan kepada
          para Jamaah Umroh, Haji dan Umat Muslim ddidalam melakukan perjalanan yang sesaui dengan kaidah Islam .

           <br/>
          Pada tahun 2017 ini PT.DAVA TOUR &amp; TRAVEL bertransformasi dengan menggunakan brand/Indentitas baru “ Abhinaya Umroh &amp; Tour“ termasuk juga perubahan kepemilikan menjadi dibawah PT Trinugraha Thohir (TNT) yang dimiliki oleh Garibaldi Thohir (dikenal juga sebagai Boy Tohir) bersama dengan Adiknya Erick Thohir dimana Keluarga Pengusaha Muslim ini sangat berhasil di berbagai bidang bisnis seperti : Automotive, Pertambangan Batubara, Media, Advertising serta Republika Group.
           <br/>
           <br/>
          Dengan latar berlakang pengalaman dan keberhasilan di berbagai bidang bisnis serta degan dukungan Management baru ini maka Insha Allah dengan Izin dan Ridho Allah “Abhinaya Umroh &amp; Tour” dapat berkomitmen untuk melayani para jamaah Umroh, Haji dan juga para wisatawan Muslim Indonesia dengan komitmen yang tinggi dan Amanah sesuai dengan kaidah Islam.

        </div>
        <div class="col-md-4">
          <div class="partner-info">
            <div class="img-cont">
              <img src="img/abhinaya-logo.png" alt=""/>
            </div>
            <div class="text-info">
              <p>
                Alamat:<br/>
                Graha TNT<br/>
                Jl. Saharjo no.107<br/>
                Tebet, Jakarta Selatan<br/>
                12810
              </p>
              <p>
                Nomer Telepon:<br/>
                021 830 4337<br/>
                021 830 4346
              </p>
              <p>
                Website:
                www.abhinayatour.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end main content -->
</div>
<div th:replace="fragments/fwd-footer :: footer"/>

</body>
</html>
