<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <div th:replace="fragments/fwd-header :: header-css"/>
</head>
<body>
<div th:replace="fragments/fwd-header :: header"/>
  <!-- CONTAINER -->
<div id="site-container">
  <div class="partner">
    <h2 id="title" class="text-center font-bold">Partner Travel Haji Kami</h2>
    <div class="partner-bundle bg-blue">
      <div class="row no-margin">
        <div id="content" class="col-md-8 margin-bottom20"></div>
        <div class="col-md-4">
          <div class="partner-info">
            <div id="avatar-path" class="img-cont"></div>
            <div id="address" class="text-info"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container partner-button">
      <!-- <div class="text-right margin-bottom50">
        <div class="btn-cont">
          <a  href="#" class="btn green no-rounded" data-toggle="modal" data-target="#modalpartnerform">Jadi Partner Kami</a>
        </div>
      </div> -->
      <div class="float is-absolute">
        <div class="btn-cont">
            <a href="#" class="btn font-bold bg-partner no-rounded" onclick="Homepage.initPartner();">
            Jadi Partner Kami
          </a>
        </div>
      </div>
    </div>

  </div> <!-- end main content -->
</div>
<!-- Modal -->
  <div class="modal fade" id="modalpartnerform" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-close">
          <i data-dismiss="modal" class="fa fa-times-circle"></i>
        </div>
        <div class="modal-body">

          <form id="register_form" action="#">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="field-cont row">
              <div class="col-sm-2">
                <label for="name">Nama</label>
              </div>
              <div class="col-sm-10">
                <input id="name" name="name" data-validation="required alphanumeric" data-validation-error-msg-required="Nama Harus Dimasukkan" data-validation-error-msg-alphanumeric="Nama hanya boleh berupa alphanumeric" type="text"/>
                <span class="help-block form-error name-error" style="color:red"></span>
              </div>
            </div>
            <div class="field-cont row">
              <div class="col-sm-2">
                <label for="name">Perusahaan</label>
              </div>
              <div class="col-sm-10">
                <input id="companyName" name="companyName" data-validation="required" data-validation-error-msg-required="Nama Harus Dimasukkan" type="text"/>
                <span class="help-block form-error companyname-error" style="color:red"></span>
              </div>
            </div>
            <div class="field-cont row">
              <div class="col-sm-2">
                <label for="phone">No.Telp</label>
              </div>
              <div class="col-sm-10">
                <input id="phone" name="phone" data-validation="required number" data-validation-error-msg-required="Nomer Harus Dimasukkan" data-validation-error-msg-number="Hanya boleh memasukan nomor" type="number"/>
                <span class="help-block form-error phone-error" style="color:red"></span>
              </div>
            </div>
            <div class="field-cont row">
              <div class="col-sm-2">
                <label for="email">Email</label>
              </div>
              <div class="col-sm-10">
                <input id="email" name="email" data-validation="required email" type="text"/>
                <span class="help-block form-error email-error" style="color:red"></span>
              </div>
            </div>
            <div class="field-cont row">
                <div class="col-sm-8">
                    <div class="g-recaptcha" data-sitekey="6LdicVcUAAAAADrIyEOI5cOgfySHt-RmIDDzTQyA"></div>
                    <span class="help-block form-error captcha-error" style="color:red"></span>
                </div>
                <div class="col-sm-3 align-center">
                   <input id="submit_form" type="submit" value="Daftar"/>
                   <img id="form_loader" src="img/ajax-loader.gif" style="display:none;" />
                </div>
            </div>  
          </form>
        </div>

      </div>

    </div>
  </div>

  <div class="modal fade" id="modalpartnerthanks" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-close">
          <i data-dismiss="modal" class="fa fa-times-circle"></i>
        </div>
        <div class="modal-body text-center">
          <h4>Terima kasih atas ketertarikan kamu untuk bergabung menjadi rekanan FWD.<br/> Kami akan menghubungi kamu dalam waktu 3x24 jam.</h4>
        </div>
      </div>

    </div>
  </div>
<div th:replace="fragments/fwd-footer :: footer"/>

</body>
</html>
